<p><b>QUIZ MAKER</b></p>
<div class="criteria">
    <app-search-criteria [categories]="(quizCategories$ | async) || []"
                        [loading]="loading"
                        (createQuizRequested)="onCreateQuizRequested($event)"></app-search-criteria>
</div>

<div *ngIf="!loading else loadingTemplate">
    <div *ngFor="let question of questions" class="question">
        <app-question [question]="question" (answered)="onAnswered()"></app-question>
    </div>
</div>

<button *ngIf="allQuestionsAnswered" (click)="onSubmit()">Submit</button>

<ng-template #loadingTemplate>Loading...</ng-template>
