<form [formGroup]="criteriaForm" (ngSubmit)="onCreate()">
    <div class="criteria-root">
        <div class="lookup-block">
            <label for="categorySelect" class="label">Select category:</label>
            <select name="categorySelect" id="categorySelect"
                    [formControl]="categoryControl">
                <option value="-1" class="placeholder">Select category</option>
                <option *ngFor="let category of categories" 
                        [value]="category.id">{{category.name}}</option>
            </select>
        </div>
        <div class="lookup-block">
            <label for="difficultySelect" class="label">Select difficulty:</label>
            <select name="difficultySelect" id="difficultySelect"
                    [formControl]="difficultyControl">
                <option value="" class="placeholder">Select difficulty</option>
                <option value="easy">Easy</option>
                <option value="medium">Medium</option>
                <option value="hard">Hard</option>
            </select>
        </div>
        <button id="createBtn" type="submit" [disabled]="!criteriaForm.valid || loading">Create</button>
    </div>
</form>
